HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/mvnw
/mvnw.cmd
/.mvn/
/logs/
/localstack/volume/cache/server.test.pem.crt
/localstack/volume/logs/localstack_infra.err
/localstack/volume/logs/localstack_infra.log
/localstack/volume/cache/machine.json
/localstack/volume/cache/server.test.pem
/localstack/volume/cache/server.test.pem.key
/localstack/volume/cache/service-catalog-1_4_1_dev-1_29_82.pickle
